html {
  box-sizing: inherit;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 1.3;
  font-family: "Barlow", sans-serif;
  background-color: $lt-grayish-blue;
  padding: calcPxToRem(70);
  color: $white;
}
